// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

.greedy {
  position: relative;
  display: flex;
  align-items: center;
  padding: 4px 0;

  @include mq($from: tablet) {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.greedy button {
  align-self: stretch;
  padding: 0 8px 0;
  outline: 0;
  border: 0;
  font-size: 16px;
  background: transparent;
  color: $color_nhsuk-white;
  line-height: 1.5;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    background: $nhsuk-focus-color;
    color: $nhsuk-focus-text-color;

    .nhsuk-icon {
      fill: $nhsuk-focus-text-color;
    }
  }

  .nhsuk-icon {
    fill: white;
    transform: rotate(90deg);
    float: right;
    margin-right: -8px;
  }
}

.greedy button.hidden {
  display: none;
}

ul.links {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  overflow: hidden;
  padding: 0;
  margin: 0;

  & > li:last-child a {
    margin-right: 0;
  }
}

ul.links li {
  flex: none;
  list-style: none;
  margin: 0;
}

ul.links li a {
  font-size: 16px;
  color: $color_nhsuk-white;
  display: inline-block;
  margin: 0;
  margin-right: 40px;
  text-decoration: none;
  padding: 12px 0;

  @include mq($until: tablet) {
    margin-right: 24px;
  }

  &:hover {
    text-decoration: underline;
  }
}

ul.hidden-links {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0;
  padding: 0;
  background: $color_nhsuk-blue;
  position: relative;

  & > *:first-child {
    margin-top: 8px;
  }

  & > *:nth-last-child(2) {
    margin-bottom: 8px;
  }
}

ul.hidden-links li {
  padding: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;

  @include mq($from: tablet) {
    margin-right: 40px;
    display: inline-block;
  }
}

ul.hidden-links li a {
  font-size: 16px;
  color: $color_nhsuk-white;
  display: inline-block;
  padding: 12px 0;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul.hidden-links.hidden {
  display: none;
}

.greedy-nav__button--close {
  font-size: 16px;
  position: absolute;
  right: -8px;
  top: 4px;
  padding: 11px 0;
  line-height: 1.5;
  border: 0;
  outline: none;
  background-color: transparent;
  color: $color_nhsuk-white;
  cursor: pointer;

  .nhsuk-icon {
    fill: white;
    transform: rotate(90deg);
    float: right;
  }
}

// Breadcrumb

.nhsuk-breadcrumb {
  background: transparent;
  padding: 0;
  margin-top: 24px;

  @include mq($until: tablet) {
    margin-top: 20px;
    margin-bottom: -4px;
  }
}

// Main wrapper 

.nhsuk-main-wrapper {
  padding-top: nhsuk-spacing(7);
  padding-bottom: nhsuk-spacing(7);

  @include mq($until: desktop) {
    padding-top: nhsuk-spacing(4);
    padding-bottom: nhsuk-spacing(4);
  }
}

// Heading adjustments

h1,
.nhsuk-lede-text {
  @include mq($until: desktop) {
    margin-bottom: nhsuk-spacing(5);
  }
}

h1 + .nhsuk-lede-text, 
h1 + .nhsuk-lede-text--small {
  margin-top: 0;
}

// Footer

.nhsuk-footer__nav {
  @include clearfix;
  
  border-bottom: 1px solid $color_nhsuk-grey-3;
  margin-bottom: nhsuk-spacing(5);
  padding-bottom: nhsuk-spacing(4);
  display: block;

  @include mq($until: tablet) {
    margin-bottom: nhsuk-spacing(4);
    padding-bottom: nhsuk-spacing(2);
  }
}

.nhsuk-footer__list-item {
  @include mq($until: tablet) {
    margin-bottom: nhsuk-spacing(3);
  }
}

.app-u-hide-on-tablet {
  @include mq($from: tablet) {
    display: none;
  }
}

// Search
@include mq($until: tablet) {

  .nhsuk-header__content {
    margin-bottom: -16px;
  }

  .nhsuk-header__search {
    float: none;
    margin-left: 0;
    margin-top: 16px;
    display: inline-block;
    width: 100%;
  }

  .nhsuk-header__search-wrap {
    display: block;
  }

  .nhsuk-header__search-form {
    background-color: transparent;;
    padding: 0;
  }

  .autocomplete__input,
  .nhsuk-search__input {
    border: 0;
    height: 40px;
    padding: 0 12px;
  }

  .nhsuk-search__submit {
    height: 40px;
    background-color: #f0f4f5;

    &:hover {
      background-color: #003d78;
      border: 1px solid #ffffff;

      .nhsuk-icon__search {
        fill: #ffffff;
      }
   }

   .nhsuk-icon__search {
      height: 24px;
      width: 24px;
      fill: #005eb8;
    }
  }

  .autocomplete__menu {
    background: transparent;
    padding-bottom: 24px;
  }

  .autocomplete__option {
    color: #ffffff;
    border-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
  }

  .autocomplete__option:nth-child(n+6) {
    display: none;
  }

}

.autocomplete__option {
  padding-bottom: 8px;

  .nhsuk-icon {
    display: none;
  }
}
